{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente et d'Utilisation de RideEasy
{% endblock %}

{% block body %}
	<!-- Blog Detail Section Start -->
	<section class="blog_detail_section">
		<div class="container">
			<div class="blog_head">
				<div class="tags_info">
					<span class="tag">{{appName}}</span>
				</div>
				<h1>Conditions Générales de Vente et d'Utilisation de RideEasy</h1>
			</div>
			<div class="blog_body">
				<h2>Article 1 - Définitions</h2>

				<p>
					<strong>1.1 **Application :**</strong>
					l'application mobile RIDE EASY et l'ensemble de ses pages et écrans.</p>

				<p>
					<strong>1.2 **Produit :**</strong>
					tout contenu numérique ou service auquel il est possible de souscrire par un achat intégré (in-app) dans l'application.</p>

				<p>
					<strong>1.3 **AM TAXI :**</strong>
					la personne morale ou physique responsable de l'édition et du contenu de l'application.</p>

				<p>
					<strong>1.4 **Utilisateur :**</strong>
					toute personne naviguant et utilisant l'application.</p>

				<p>
					<strong>1.5 **Client :**</strong>
					toute personne souscrivant aux services proposés via l'application.</p>

				<p>
					<strong>1.6 **Prestataires Tiers :**</strong>
					personnes indépendantes offrant des services via l'application, notamment des prestataires de transport indépendants.</p>

				<p>
					<strong>1.7 **Noms, Marques ou Œuvres de RIDE EASY :**</strong>
					les dénominations sociales, logos, permis de conduire, identité sociale, assurance, identité juridique ou tout autre signe de propriété ou droits d’auteur de RIDE EASY ou des Prestataires Tiers.</p>

				<p>
					<strong>1.8 **Store :**</strong>
					la plateforme de téléchargement d'applications en ligne utilisée par l'éditeur pour publier l'application et par l'utilisateur pour télécharger l'application.</p>

				<p>
					<strong>1.9 **Compte :**</strong>
					l'espace personnel créé par l'utilisateur sur l'application, nécessaire pour accéder aux services de RIDE EASY.</p>

				<p>
					<strong>1.10 **Services :**</strong>
					ensemble des prestations offertes par l'application, y compris le transport, le covoiturage, et toute autre fonctionnalité mise à disposition par RIDE EASY ou ses partenaires.</p>

				<h2>Article 2 - Mentions Imposées par la Loi de Confiance dans l’Économie Numérique et Objet de l'Application</h2>

				<p>
					<strong>2.1 **Mentions Légales :**</strong>
					Conformément à la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, les informations légales concernant l'éditeur de l'application, notamment les coordonnées et les éventuelles informations de capital et d'immatriculation, sont fournies dans les mentions légales de l'application. Les informations concernant la collecte et le traitement des données personnelles sont fournies dans la charte de données personnelles de l'application.</p>

				<p>
					<strong>2.2 **Capacité Juridique :**</strong>
					L'acceptation des présentes conditions suppose que les utilisateurs jouissent de la capacité juridique nécessaire. Si l'utilisateur est mineur ou ne dispose pas de cette capacité juridique, il déclare avoir l’autorisation d’un tuteur, d’un curateur ou de son représentant légal.</p>

				<p>
					<strong>2.3 **Objet de l'Application :**</strong>
					La présente application est éditée par AM TAXI, une société par actions simplifiée à associé unique. L'application a pour objet de faciliter la mise en relation entre les utilisateurs et les prestataires de services de transport indépendants, en offrant une plateforme technologique de gestion et de réservation de trajets.</p>

				<p>
					<strong>2.4 **Acceptation des Conditions :**</strong>
					En créant un compte client via l'application mobile ou le site internet de RIDE EASY, vous acceptez ces conditions qui établissent une relation contractuelle entre vous et RIDE EASY, équivalente à une signature manuscrite. Conformément à l'article 1366 du Code civil français, vous reconnaissez la validité des enregistrements automatiques du système de l'éditeur de l'application comme preuve, sauf preuve contraire apportée. Vous renoncez à contester ces enregistrements en cas de litige. Ces conditions prévalent sur tout accord antérieur entre vous et RIDE EASY concernant les services de l'application mobile et du site web.</p>

				<p>
					<strong>2.5 **Durée et Modification des CGVU :**</strong>
					Les présentes conditions générales de vente et d'utilisation sont conclues pour une durée indéterminée. Elles peuvent être modifiées à tout moment par l'éditeur ou son mandataire. Les conditions générales applicables à l’utilisateur sont celles en vigueur au jour de son achat ou de sa connexion sur l'application. L’éditeur s’engage à conserver toutes ses anciennes conditions générales et à les faire parvenir à tout utilisateur qui en ferait la demande.</p>

				<h2>Article 3 - Caractéristiques du Service Proposé</h2>

				<p>
					<strong>3.1 **Description des Services :**</strong>
					RIDE EASY propose un service permettant aux utilisateurs de demander et de recevoir les services des prestataires tiers via l'application mobile et/ou le site internet. Ces services incluent, mais ne sont pas limités à :</p>
				<p>
					<strong>- Accès aux services de transport :</strong>
					Les utilisateurs peuvent solliciter des services de transport fournis par des prestataires tiers.</p>
				<p>
					<strong>- Traitement des paiements :</strong>
					RIDE EASY assure le traitement des paiements, l'émission de factures et de reçus au nom des prestataires tiers.</p>
				<p>
					<strong>- Intermédiation technologique :</strong>
					RIDE EASY agit comme une plateforme technologique intermédiaire entre les utilisateurs et les prestataires tiers, facilitant la mise en relation pour des services de transport dans une zone géographique spécifique.</p>

				<p>
					<strong>3.2 **Prestataires Tiers :**</strong>
					Tous les prestataires tiers sont des entrepreneurs indépendants capables de vous fournir des services. Ils ne sont pas employés par Ride Easy. Conformément à l'article L. 441-6 du Code de commerce français, RIDE EASY est tenu de délivrer les services souscrits par le client après validation de la commande et paiement des frais associés.</p>

				<p>
					<strong>3.3 **Liberté de Choix des Prestataires :**</strong>
					Les prestataires tiers, en tant qu'entrepreneurs indépendants, sont libres de décider d’accepter ou de rejeter une demande de service. Dans certaines situations, les prestataires peuvent imposer des conditions distinctes que les utilisateurs devront accepter avant le début du service. Ces conditions particulières seront clairement indiquées à l'utilisateur avant la validation de la commande.</p>

				<p>
					<strong>3.4 **Évaluation et Feedback :**</strong>
					Les utilisateurs peuvent être invités à évaluer les prestataires tiers après chaque service. Ces évaluations permettent de maintenir un haut niveau de qualité et de confiance au sein de la communauté RIDE EASY. Les évaluations des utilisateurs peuvent influencer les décisions des prestataires tiers concernant l'acceptation future des demandes de service.</p>

				<p>
					<strong>3.5 **Service Client :**</strong>
					Le service clientèle de l'application est accessible par courrier électronique à l’adresse suivante : support@rideeasy.fr ou par courrier postal à l’adresse suivante :25 bis av liberation nuaille , France. RIDEEASY met également à disposition de ses utilisateurs et clients une hotline pour répondre à leurs questions, accessible par téléphone au +33 892976167 (numéro surtaxé). L’éditeur s’engage à apporter une réponse sous 7 jours ouvrés.</p>

				<h2>Article 4 – Tarifs et Paiement</h2>

				<p>
					<strong>4.1 **Tarification :**</strong>
					Les prix indiqués dans l'application sont en Euros, toutes taxes comprises (TTC), tenant compte de la TVA applicable au jour de la souscription du service. Conformément à l'article 293 B du Code général des impôts, RIDE EASY se réserve le droit de répercuter tout changement du taux de TVA sur le prix des services.</p>

				<p>
					<strong>4.2 **Calcul des Frais :**</strong>
					Le montant total des frais pour le service sera calculé et affiché dans l'application avant la confirmation de la commande par l'utilisateur. Les frais de transport dépendent du temps et de la distance du trajet. Toutefois, les prestataires tiers se réservent le droit de modifier les prix à tout moment. En cas de modification, le prix indiqué dans l'application au moment de la commande sera le seul applicable au client passager avant la confirmation de la commande. Des frais supplémentaires peuvent être affichés à titre indicatif avant la confirmation de la commande.</p>

				<p>
					<strong>4.3 **Frais de Gestion :**</strong>
					RIDE EASY peut inclure des frais de gestion dans le prix initial du service de transport. En cas de désaccord, l'utilisateur ne pourra plus accéder aux services de l'application. Les utilisateurs peuvent planifier des trajets pour des dates ultérieures via l'application mobile, des frais pouvant être facturés pour cette fonctionnalité. En cas d'annulation de la réservation, les frais liés ne seront pas remboursés.</p>

				<p>
					<strong>4.4 **Modes de Paiement :**</strong>
					Les paiements pour les services de transport peuvent être effectués via carte bleue, PayPal ou tout autre moyen de paiement électronique accepté par RIDE EASY. Les transactions sont sécurisées et gérées par le Store. L'application n’a pas accès aux données relatives aux moyens de paiement de l’utilisateur.</p>

				<p>
					<strong>4.5 **Abonnements :**</strong>
					Des frais d’abonnement peuvent être proposés aux prestataires tiers. Le prix indiqué dans l’application sera le prix en vigueur, facturé mensuellement ou annuellement selon le type d’abonnement choisi. Les abonnements se renouvellent automatiquement, mais peuvent être annulés à tout moment via l’application avant la date de renouvellement pour éviter la facturation du mois suivant. La facturation d'un mois n'est pas remboursable.</p>

				<p>
					<strong>4.6 **Modifications des Tarifs :**</strong>
					Ride Easy se réserve le droit de modifier ou de cesser d'offrir les abonnements renouvelables ou de modifier les avantages ou les tarifs à tout moment. Si le tarif augmente ou si les avantages changent de manière significative, nous en informerons les utilisateurs trente (30) jours à l'avance par courriel avant que ces changements n'entrent en vigueur. Tous les changements prendront effet lors de la prochaine période de facturation.</p>

				<h2>Article 5 - Compte dans l'Application</h2>

				<p>
					<strong>5.1 **Création de Compte :**</strong>
					Afin de pouvoir utiliser les services de RIDE EASY, l’utilisateur doit s’enregistrer dans l’application mobile et créer un compte. Au moment de l’inscription, l’utilisateur doit avoir au moins 18 ans et fournir des informations personnelles essentielles, notamment un numéro de téléphone, une adresse électronique et un moyen de paiement valide.</p>

				<p>
					<strong>5.2 **Gestion du Compte :**</strong>
					L’utilisateur créant un compte sur l'application a la possibilité d’y accéder en se connectant grâce aux identifiants fournis lors de son inscription. L’utilisateur est entièrement responsable de la protection du mot de passe qu’il a choisi. En cas d’oubli de mot de passe, l’utilisateur peut générer un nouveau mot de passe.</p>

				<p>
					<strong>5.3 **Responsabilité de l'Utilisateur :**</strong>
					Le mot de passe constitue la garantie de la confidentialité des informations contenues dans le compte de l'utilisateur, qui s'interdit de le transmettre ou de le communiquer à un tiers. En cas de manquement à cette obligation, Ride Easy ne pourra être tenu responsable des accès non autorisés au compte de l'utilisateur.</p>

				<p>
					<strong>5.4 **Informations Exactes :**</strong>
					Le membre s'engage à fournir des informations exactes lors de l'inscription et à les maintenir à jour. Le compte permet au membre de consulter toutes ses commandes ou la totalité de ses services fournis et facturés effectués sur l'application.</p>

				<p>
					<strong>5.5 **Suppression de Compte :**</strong>
					L’éditeur se réserve le droit exclusif de supprimer le compte de tout membre qui aurait contrevenu aux présentes conditions générales, notamment en fournissant sciemment des informations erronées lors de son inscription, ou encore tout compte inactif depuis au moins une année. Cette suppression ne constitue pas un dommage pour le membre exclu, qui ne pourra prétendre à aucune indemnité.</p>


				<h2>Article 6 - Exonération de la Responsabilité de l’Éditeur</h2>

				<p>
					<strong>6.1 **Indisponibilité de l'Application :**</strong>
					En cas d’impossibilité d’accès à l'application en raison de problèmes techniques ou de toutes natures, l'utilisateur ne pourra se prévaloir d’un dommage et ne pourra prétendre à aucune indemnité. L’indisponibilité prolongée d’une ou plusieurs fonctionnalités de l’application ne peut être constitutive d’un préjudice pour les utilisateurs et ne peut donner lieu à l’octroi de dommages et intérêts de la part de l'éditeur.</p>

				<p>
					<strong>6.2 **Force Majeure :**</strong>
					Ride Easy n’est tenu que par une obligation de moyens et ne saurait être tenu pour responsable en cas de survenance d’un événement de force majeure, tel que défini à l'article 1218 du Code civil français, incluant notamment les catastrophes naturelles, inondations, incendies, grèves, ou toute autre circonstance imprévisible et irrésistible rendant impossible l'exécution des obligations contractuelles.</p>

				<p>
					<strong>6.3 **Contenu des Liens Hypertextes :**</strong>
					Les liens hypertextes présents sur l'application peuvent renvoyer à d'autres applications ou sites internet, et la responsabilité de l’éditeur ne saurait être engagée si le contenu de ces sites et applications contrevient aux législations en vigueur. De même, l'utilisation de ces sites ou applications par l'utilisateur ne peut engager la responsabilité de l’éditeur en cas de préjudice.</p>

				<p>
					<strong>6.4 **Dommages Indirects :**</strong>
					L'éditeur n'encourra aucune responsabilité pour tous dommages indirects, notamment en ce qui concerne les pertes de profits, le manque à gagner, les pertes de clientèle ou de données pouvant résulter de l'utilisation de l'application ou de l'impossibilité de son utilisation.</p>

				<p>
					<strong>6.5 **Choix des Prestataires Tiers :**</strong>
					Le choix d’un client passager ou d’un prestataire tiers est placé sous l'unique responsabilité de l'utilisateur. Ride Easy ne saurait être tenu pour responsable des différends ou litiges pouvant survenir entre les utilisateurs et les prestataires tiers.</p>

				<h2>Article 7 - Limitation Géographique d’Utilisation</h2>

				<p>
					<strong>7.1 **Limitation Territoriale :**</strong>
					L’utilisation de l'application et de ses services est limitée à la France. Toute utilisation en dehors de ce territoire pourrait ne pas être couverte par les présentes conditions générales.</p>

				<p>
					<strong>7.2 **Conformité Réglementaire :**</strong>
					L'utilisateur s'engage à utiliser l'application conformément aux lois et réglementations en vigueur dans le territoire d'utilisation. Ride Easy ne saurait être tenu responsable en cas de non-respect de la législation locale par l'utilisateur.</p>

				<h2>Article 8 - Droits de Propriété Intellectuelle Relatifs aux Éléments de l'Application</h2>
				<p>
					<strong>
						8.1 Propriété Intellectuelle :</strong>
					Tous les éléments de l'application appartiennent à l'éditeur ou sont utilisés par celui-ci avec l'autorisation de leur propriétaire. Toute reproduction, modification ou utilisation des éléments de l'application sans autorisation est strictement interdite et constituerait une contrefaçon conformément aux articles L. 335-2 et suivants du Code de la propriété intellectuelle.</p>

				<p>
					<strong>
						8.2 Utilisation des Marques :</strong>
					L'utilisateur s'engage à ne pas utiliser les noms, marques ou œuvres de Ride Easy à des fins autres que l'utilisation de l'application mobile et/ou du site internet. Toute utilisation non autorisée est strictement interdite et peut donner lieu à des poursuites judiciaires.</p>

				<p>
					<strong>
						8.3 Protection des Contenus :</strong>
					L'utilisateur s'interdit de procéder à une quelconque extraction ou utilisation systématique de tout ou partie des données présentes sur l'application. Toute exploitation non autorisée de l'application ou de son contenu pourra être sanctionnée conformément aux dispositions du Code de la propriété intellectuelle.</p>

				<p>
					<strong>
						8.4 Licence Limitée :</strong>
					Ride Easy accorde à l'utilisateur une licence limitée, non exclusive et non transférable d'utilisation de l'application mobile et/ou du site internet pour un usage personnel et non commercial. Cette licence n'inclut aucun droit de distribution, de modification ou de création d'œuvres dérivées de l'application ou de son contenu.</p>

				<p>
					<strong>
						8.5 Respect des Droits d'Auteur :</strong>
					L'utilisateur s'engage à respecter les droits d'auteur et autres droits de propriété intellectuelle relatifs à tous les contenus présents sur l'application, y compris les textes, images, vidéos, et autres éléments multimédias.</p>

				<p>
					<strong>
						8.6 Contenus Utilisateurs :</strong>
					En publiant des contenus sur l'application, l'utilisateur accorde à Ride Easy une licence mondiale, gratuite et non exclusive d'utilisation, de reproduction, de distribution et d'affichage de ces contenus dans le cadre de l'exploitation de l'application. L'utilisateur garantit détenir tous les droits nécessaires pour accorder cette licence.</p>

				<p>
					<strong>
						8.7 Injonction et Dommages-Intérêts :</strong>
					En cas de violation des droits de propriété intellectuelle de Ride Easy, l'utilisateur reconnaît que Ride Easy pourra obtenir une injonction en plus de tous autres recours légaux disponibles, y compris des dommages-intérêts pour toute perte ou dommage subi.</p>

				<p>
					<strong>
						8.8 Signalement de Violations :</strong>
					Ride Easy encourage les utilisateurs à signaler toute violation présumée des droits de propriété intellectuelle en envoyant un courriel à
					<a href="mailto:support@rideeasy.fr">support@rideeasy.fr</a>
					avec une description détaillée de la violation alléguée. Ride Easy enquêtera sur toutes les plaintes et prendra les mesures appropriées.</p>

				<p>
					<strong>8.9 Exploitation Commerciale :</strong>
					Toute utilisation commerciale des éléments de l'application, y compris les marques, logos, et autres contenus protégés, est strictement interdite sans l'accord préalable écrit de Ride Easy. Toute demande d'utilisation commerciale doit être adressée à
					<a href="mailto:support@rideeasy.fr">support@rideeasy.fr</a>.</p>

				<p>
					<strong>
						8.10 Sanctions :</strong>
					En cas de non-respect de l'une des dispositions de cet article, Ride Easy se réserve le droit de suspendre ou de résilier immédiatement le compte de l'utilisateur, sans préjudice de toute action judiciaire que Ride Easy pourrait entreprendre pour faire respecter ses droits.</p>

				<h2>Article 9 - Contribution des Utilisateurs au Contenu</h2>
				<p>
					<strong>
						9.1 Contributions des Utilisateurs :</strong>
					Les utilisateurs peuvent contribuer au contenu de l'application en publiant des commentaires ou des notes. En soumettant une contribution, l'utilisateur accorde à l'éditeur le droit de l'utiliser, de la publier et de la diffuser sans limitation, y compris à des fins commerciales.</p>

				<p>
					<strong>
						9.2 Droits de l'Éditeur :</strong>
					L'éditeur représenté par les modérateurs peut choisir de publier ou non les contributions des utilisateurs. Les contributions peuvent être utilisées dans les newsletters de l'application et sur les sites de tous ses partenaires, avec mention du pseudonyme de l'auteur de la contribution.</p>

				<p>
					<strong>
						9.3 Responsabilité des Utilisateurs :</strong>
					Les utilisateurs s'engagent à ne pas publier de contenu illicite, diffamatoire, ou portant atteinte aux droits de tiers. Ride Easy se réserve le droit de supprimer tout contenu ne respectant pas ces conditions.</p>

				<p>
					<strong>
						9.4 Authenticité des Contributions :</strong>
					Les utilisateurs doivent s'assurer que leurs contributions sont authentiques et basées sur leur propre expérience. Toute tentative de publication de fausses informations ou de manipulation des avis sera sanctionnée.</p>

				<p>
					<strong>
						9.5 Respect de la Propriété Intellectuelle :</strong>
					Les contributions des utilisateurs doivent respecter les droits de propriété intellectuelle des tiers. Les utilisateurs ne doivent pas publier de contenu copié sans autorisation.</p>

				<p>
					<strong>
						9.6 Droit de Modification :</strong>
					Ride Easy se réserve le droit de modifier ou de retirer toute contribution jugée inappropriée, offensive ou non conforme aux présentes conditions générales.</p>

				<p>
					<strong>
						9.7 Utilisation Commerciale des Contributions :</strong>
					En soumettant une contribution, l'utilisateur accepte que son contenu puisse être utilisé à des fins de marketing, promotionnelles ou autres initiatives commerciales de Ride Easy, sans compensation supplémentaire.</p>

				<p>
					<strong>
						9.8 Licence Mondiale et Gratuite :</strong>
					En publiant des contributions, les utilisateurs accordent à Ride Easy une licence mondiale, gratuite et non exclusive pour utiliser, reproduire, modifier, adapter, publier, traduire, créer des œuvres dérivées, distribuer et afficher ces contributions dans tout média.</p>

				<p>
					<strong>
						9.9 Injonction et Dommages-Intérêts :</strong>
					En cas de violation des présentes conditions par un utilisateur, Ride Easy pourra demander une injonction en plus de tout autre recours légal disponible, y compris des dommages-intérêts pour toute perte ou dommage subi.</p>

				<p>
					<strong>
						9.10 Signalement de Contenus Inappropriés :</strong>
					Les utilisateurs sont encouragés à signaler tout contenu inapproprié ou en violation des présentes conditions en envoyant un courriel à
					<a href="mailto:support@rideeasy.fr">support@rideeasy.fr</a>
					avec une description détaillée du contenu en question. Ride Easy enquêtera sur toutes les plaintes et prendra les mesures appropriées.</p>


				<h2>Article 10 - Obligations</h2>
				<p>
					<strong>
						10.1 Responsabilité de l'Utilisateur :</strong>
					Le compte de l’utilisateur est personnel et ne peut être partagé sans autorisation expresse de Ride Easy. L'utilisateur est responsable de la protection de ses informations de compte et doit informer immédiatement l’assistance téléphonique en cas de suspicion d'utilisation frauduleuse.</p>

				<p>
					<strong>
						10.2 Utilisation Conformée :</strong>
					L'utilisateur s'engage à utiliser l'application de manière conforme et respectueuse envers les prestataires et autres utilisateurs. Toute utilisation abusive ou non conforme peut entraîner la suspension ou la suppression du compte de l'utilisateur.</p>

				<p>
					<strong>
						10.3 Respect des Conditions :</strong>
					L'utilisateur doit respecter toutes les obligations stipulées dans les présentes conditions générales. En cas de non-respect, Ride Easy se réserve le droit de prendre les mesures nécessaires, y compris la suspension ou la résiliation du compte utilisateur.</p>

				<p>
					<strong>
						10.4 Confidentialité des Identifiants :</strong>
					L'utilisateur est tenu de maintenir la confidentialité de ses identifiants de connexion (nom d'utilisateur et mot de passe). Toute utilisation frauduleuse du compte due à une négligence de l'utilisateur est de sa responsabilité. (Article L. 121-20-3 du Code de la consommation)</p>

				<p>
					<strong>
						10.5 Mises à Jour et Maintenance :</strong>
					L'utilisateur doit accepter les mises à jour de l'application fournies par Ride Easy pour assurer la sécurité et le bon fonctionnement de l'application. Le refus des mises à jour peut limiter l'accès aux services.</p>

				<p>
					<strong>
						10.6 Informations Véridiques :</strong>
					Lors de l'inscription et de l'utilisation de l'application, l'utilisateur s'engage à fournir des informations exactes et à jour. Toute fausse déclaration peut entraîner la suspension ou la résiliation du compte. (Article 1134 du Code civil)</p>

				<p>
					<strong>
						10.7 Utilisation Licite :</strong>
					L'utilisateur s'engage à ne pas utiliser l'application à des fins illégales, y compris mais non limité à la fraude, au harcèlement, ou à la violation des droits de propriété intellectuelle de tiers. (Article L. 335-2 et suivants du Code de la propriété intellectuelle)</p>

				<p>
					<strong>
						10.8 Communication avec les Prestataires :</strong>
					L'utilisateur doit respecter les conditions et modalités de communication avec les prestataires de services via l'application. Tout abus ou comportement inapproprié peut entraîner des sanctions. (Article 1240 du Code civil)</p>

				<p>
					<strong>
						10.9 Paiement des Services :</strong>
					L'utilisateur est responsable du paiement des services sollicités via l'application. Tout défaut de paiement peut entraîner la suspension ou la résiliation du compte utilisateur, ainsi que des actions légales pour recouvrer les montants dus. (Article L. 441-10 du Code de commerce)</p>

				<p>
					<strong>
						10.10 Signalement des Abus :</strong>
					L'utilisateur est encouragé à signaler toute activité suspecte ou abusive rencontrée sur l'application. Ride Easy prendra des mesures appropriées pour enquêter et résoudre les problèmes signalés. (Article L. 121-1 du Code de la consommation)</p>

				<h2>Article 11 - Accès à l'Application par Connexion Internet</h2>

				<p>
					<strong>11.1 **Conditions d'Accès :**</strong>
					L'application et le site internet de Ride Easy peuvent être accessibles sur la plupart des appareils mobiles disposant d’une connexion internet. L'utilisateur est responsable de l'obtention et du maintien de l'accès au réseau nécessaire à l’utilisation des services.</p>

				<p>
					<strong>11.2 **Frais de Connexion :**</strong>
					Tous les frais et tarifs de votre prestataire de réseau seront à votre charge. Ride Easy ne peut être tenu responsable des coûts de connexion liés à l'utilisation de l'application.</p>

				<p>
					<strong>11.3 **Maintenance et Mise à Jour :**</strong>
					L'éditeur se réserve le droit de suspendre temporairement l'accès à l'application pour des raisons de maintenance, de mise à jour ou de modifications nécessaires. L'utilisateur sera informé dans la mesure du possible des périodes de maintenance prévues.</p>

				<h2>Article 12 - Fermeture de Compte</h2>

				<p>
					<strong>12.1 **Cessation d'Utilisation :**</strong>
					L'utilisateur peut cesser l’utilisation de l’application ou du site internet à tout moment en supprimant son compte via l'application ou en informant AM TAXI par courriel.</p>

				<p>
					<strong>12.2 **Suppression de Compte par l'Éditeur :**</strong>
					L’éditeur peut suspendre ou supprimer un compte en cas de violation des présentes conditions générales, notamment en cas de comportement abusif ou frauduleux de l'utilisateur.</p>

				<p>
					<strong>12.3 **Conséquences de la Fermeture :**</strong>
					La suppression du compte entraîne la perte définitive des données associées. Ride Easy ne pourra être tenu responsable de la perte de données suite à la fermeture du compte.</p>

				<h2>Article 13 - Droit Applicable et Médiation</h2>

				<p>
					<strong>13.1 **Droit Applicable :**</strong>
					Les présentes conditions générales sont régies par le droit français. En cas de litige, une tentative de résolution amiable sera privilégiée avant toute action judiciaire.</p>

				<p>
					<strong>13.2 **Médiation :**</strong>
					Conformément à l'article L. 612-1 du Code de la consommation, tout consommateur a le droit de recourir gratuitement à un médiateur de la consommation pour résoudre un litige à l’amiable. Ride Easy propose la médiation d'un médiateur de la consommation dont les coordonnées sont les suivantes : MEDIATEUR DE LA CONSOMMATION AGREE - DEVIGNY MEDIATION,
					<a href="mailto:contact@devignymediation.fr">contact@devignymediation.fr</a>.</p>

				<h2>Article 14 - Utilisation de Cookies</h2>

				<p>
					<strong>14.1 **Définition des Cookies :**</strong>
					Le mot « Cookie » est ici utilisé au sens large et englobe tout fichier déposé
															
															 sur le périphérique de l'utilisateur afin de l'identifier ou de sauvegarder des informations de manière durable sur le périphérique. Un « Cookie » permet l'identification de l'utilisateur, la personnalisation de sa consultation et l'accélération de l’affichage de l'application grâce à l'enregistrement d'un fichier de données sur son périphérique.</p>

				<p>
					<strong>14.2 **Finalités des Cookies :**</strong>
					L'application utilise des cookies principalement pour :
															- Mémoriser les actions et réglages de l'utilisateur dans l'application.
					<br>
					- Obtenir des statistiques de navigation afin d'améliorer l'expérience de l'utilisateur.
					<br>
					- Permettre l'accès à un compte de membre et à du contenu réservé.</p>

				<p>
					<strong>14.3 **Consentement de l'Utilisateur :**</strong>
					L'utilisateur reconnaît être informé de cette pratique et autorise l'éditeur à y recourir. L'utilisateur peut refuser l'enregistrement de cookies en changeant les réglages de son périphérique ou du site, mais l'éditeur ne peut alors garantir que l'application fonctionnera comme attendu et ne prendra aucune responsabilité en cas de non-fonctionnement de l'application.</p>

				<h2>Article 15 - Informations Relatives au Paiement</h2>

				<p>
					<strong>15.1 **Méthodes de Paiement :**</strong>
					L'utilisateur peut passer commande de course sur la présente application et effectuer son règlement en utilisant la carte bleue dont il aura fourni les informations au Store ou PAYPAL. Les paiements se font au moyen de transactions sécurisées fournies par le Store. L'application n’a accès à aucune donnée relative aux moyens de paiement de l’utilisateur. Le paiement est effectué directement entre les mains du Store recevant le paiement du client.</p>

				<p>
					<strong>15.2 **Sécurisation des Transactions :**</strong>
					Toutes les transactions de paiement effectuées via l'application sont sécurisées. Ride Easy met en œuvre toutes les mesures nécessaires pour assurer la confidentialité et la sécurité des données de paiement.</p>

				<p>
					<strong>15.3 **Facturation :**</strong>
					Les factures et reçus des services de transport sont émis au nom des prestataires tiers. L'utilisateur recevra un récapitulatif de la commande et une facture électronique après chaque transaction.</p>

				<h2>Article 16 – Résiliation des Conditions Générales</h2>

				<p>
					<strong>16.1 **Liberté d'Utilisation :**</strong>
					Vous êtes libre à tout moment d’utiliser les services App/site web et vous pouvez résilier les présentes conditions et les services App/site web en fermant votre compte.</p>

				<p>
					<strong>16.2 **Résiliation par l'Éditeur :**</strong>
					Nous pouvons résilier les présentes conditions et votre accès au service en vous en informant préalablement par écrit et dans un délai raisonnable si vous ne respectez pas vos obligations prévues aux articles énoncés. Pour des raisons de sécurité impérieuse relatives à la protection des utilisateurs des services et notamment à la suite d’une plainte pénale qui nous serait communiqué ou en cas de délits nous pouvons résilier les présentes conditions et votre accès au service avec effet immédiat.</p>

				<h2>Article 17 - Archivage</h2>

				<p>
					<strong>17.1 **Archivage des Commandes :**</strong>
					Société AM TAXI archivera les commandes et les factures sur un support fiable et durable constituant une copie fidèle. Les registres informatisés seront considérés par les parties comme preuve des communications, commandes, paiements et transactions intervenus entre les parties.</p>

				<p>
					<strong>17.2 **Consultation des Données Archivées :**</strong>
					L'utilisateur peut demander une copie des données archivées le concernant en contactant le service clientèle de Ride Easy.</p>

				<h2>Article 18 - Encadrement des Conditions</h2>

				<p>
					<strong>18.1 **Validité des Dispositions :**</strong>
					Si une disposition des présentes conditions générales est jugée inapplicable, les autres dispositions resteront en vigueur. Les conditions générales décrivent l’ensemble de l’accord entre l’utilisateur et l'éditeur et remplacent tous accords antérieurs. Les conditions générales ne sont pas cessibles ou transférables par l’utilisateur.</p>

				<p>
					<strong>18.2 **Version Imprimée :**</strong>
					Une version imprimée des conditions générales et de tous les avis donnés sous forme électronique pourra être demandée dans des procédures judiciaires ou administratives en rapport avec les conditions générales. Les parties conviennent que toute la correspondance relative à ces conditions générales doit être rédigée dans la langue française.</p>

				<h2>Article 19 - Notifications</h2>

				<p>
					<strong>19.1 **Moyens de Notification :**</strong>
					Toute notification ou avis concernant les présentes conditions générales, les mentions légales ou la charte de données personnelles doit être faite par écrit et doit être remis en mains propres, courrier recommandé ou certifié par Poste ou tout autre service de messagerie reconnu au niveau national qui permet de suivre régulièrement ses forfaits ou encore par mail aux adresses indiquées dans les mentions légales de l'application en précisant vos noms, prénoms, coordonnées et objet de l’avis.</p>

				<p>
					<strong>19.2 **Accusé de Réception :**</strong>
					Les notifications envoyées par courrier recommandé devront être accompagnées d'un accusé de réception. Les notifications électroniques devront inclure une demande de confirmation de lecture.</p>

				<h2>Article 20 - Réclamations</h2>

				<p>
					<strong>20.1 **Dépôt des Réclamations :**</strong>
					Toute réclamation liée à l'utilisation de l'application, des pages de l'application sur des réseaux sociaux éventuels ou les conditions générales, mentions légales ou charte de données personnelles doit être déposée dans les 365 jours suivant le jour d’origine du problème source de réclamation, et ce indépendamment de toute loi ou règle de droit contraire. Dans le cas où une telle réclamation n’aurait pas été déposée dans les 365 jours suivants, une telle réclamation sera à jamais inapplicable en justice.</p>

				<p>
					<strong>20.2 **Procédure de Réclamation :**</strong>
					Les réclamations doivent être adressées par écrit au service clientèle de Ride Easy. Un accusé de réception sera envoyé dans les 7 jours ouvrés suivant la réception de la réclamation.</p>

				<h2>Article 21 - Inexactitudes</h2>

				<p>
					<strong>21.1 **Corrections des Erreurs :**</strong>
					Il peut être possible que se trouvent dans l’ensemble de l'application et des produits proposés, et dans une mesure restreinte, des inexactitudes ou des erreurs ou des informations qui soient en désaccord avec les conditions générales, les mentions légales ou la charte de données personnelles. En outre, il est possible que des modifications non autorisées soient faites par des tiers sur l'application ou sur des services annexes (réseaux sociaux…). Nous mettons tout en œuvre pour que les écarts de ce genre soient corrigés. Dans le cas où une telle situation nous échapperait, merci de nous contacter par courrier postal ou par mail aux adresses indiquées dans les mentions légales de l'application avec si possible une description de l’erreur et l'emplacement (URL) ainsi que des informations suffisantes pour nous permettre de vous contacter.</p>

				<p>
					<strong>21.2 **Signalement des Inexactitudes :**</strong>
					Pour les demandes portant sur le droit d'auteur, merci de vous référer à la section sur la propriété intellectuelle. Ride Easy s'engage à corriger les erreurs signalées dans les plus brefs délais.</p>

				<h2>Article 22 - Géolocalisation</h2>

				<p>
					<strong>22.1 **Collecte de Données de Localisation :**</strong>
					Conformément à l'article L. 34-1-V du code des postes et des communications électroniques, l'application collectant des données de localisation, elle doit permettre à l'utilisateur de rendre son accord exprès lors de l'installation et de modifier ce choix par la suite. L'utilisation de la fonctionnalité de géolocalisation de l'application nécessite le consentement préalable exprès de l'utilisateur à être géolocalisé. Pour cela, l'utilisateur devra activer, s'il le souhaite, la fonction de géolocalisation directement dans les réglages de son terminal mobile et accepter que l'application puisse y avoir recours.</p>

				<p>
					<strong>22.2 **Désactivation de la Géolocalisation :**</strong>
					Cette fonctionnalité peut à tout moment et sans frais être désactivée ou activée. Grâce à l'acceptation de la fonction de géolocalisation par GPS du périphérique et de l'application, les services suivants sont offerts à l'utilisateur : Transport de voyageurs . Le périphérique calcule alors lui-même sa position. La désactivation de géolocalisation par l'application et/ou de la géolocalisation du périphérique bloque les services offerts par l'application qui y sont liés et l'affichage de publicités géo ciblées.</p>

				<p>
					<strong>22.3 **Recommandations de Transport :**</strong>
					La géolocalisation permet à RIDE EASY de recommander les options de transport les plus rapidement disponibles au moment de votre demande de course.</p>

				<h2>Article 13 - Conditions de Paiement pour les Chauffeurs</h2>

				<p>
					<strong>13.1 *Modalités de Paiement* :</strong>
					Ride Easy assure un paiement sécurisé et régulier aux chauffeurs. Les paiements sont effectués de manière hebdomadaire via virement bancaire sur le compte fourni lors de l'inscription. Les chauffeurs reçoivent 100% du montant des trajets effectués, sans aucune commission prélevée par Ride Easy.</p>

				<p>
					<strong>13.2 *Délai de Traitement des Paiements* :</strong>
					Les paiements sont traités chaque lundi pour les trajets effectués la semaine précédente (du lundi au dimanche). En cas de jour férié, le paiement sera reporté au jour ouvrable suivant. Les chauffeurs recevront une notification de paiement par email.</p>

				<p>
					<strong>
						13.3 *Informations Bancaires* :</strong>
					Les chauffeurs doivent fournir des informations bancaires valides et à jour pour recevoir leurs paiements. Toute modification des informations bancaires doit être signalée à Ride Easy au moins 5 jours avant la date de paiement prévue.</p>

				<p>
					<strong>
						13.4 *Gestion des Litiges de Paiement* :</strong>
					En cas de litige concernant un paiement, les chauffeurs peuvent contacter le service client de Ride Easy à l'adresse
					<a href="mailto:paiements@rideeasy.fr">paiements@rideeasy.fr</a>
					Ride Easy s'engage à traiter toute réclamation dans un délai de 7 jours ouvrables. Les chauffeurs sont encouragés à vérifier régulièrement leurs relevés de paiement et à signaler toute anomalie immédiatement.</p>

				<p>
					<strong>
						13.5 *Taxes et Obligations Fiscales* :</strong>
					Les chauffeurs sont responsables de déclarer et de payer toutes les taxes applicables sur les revenus générés via Ride Easy. Ride Easy fournira un récapitulatif annuel des revenus pour aider les chauffeurs dans leurs déclarations fiscales. Les chauffeurs assujettis à la TVA doivent fournir leur numéro de TVA lors de l'inscription et s'assurer que toutes les obligations fiscales sont respectées.</p>

				<p>
					<strong>
						13.6 *Sécurité des Données de Paiement* :</strong>
					Ride Easy utilise des protocoles de sécurité avancés pour protéger les informations de paiement des chauffeurs. Les données bancaires sont cryptées et stockées de manière sécurisée conformément aux normes de sécurité PCI DSS.</p>

				<p>
					<strong>
						13.7 *Rétention des Paiements en Cas de Non-Conformité* :</strong>
					Ride Easy se réserve le droit de retenir les paiements en cas de non-respect des conditions générales par le chauffeur, de suspicion de fraude, ou de non-conformité aux lois et règlements applicables. Les chauffeurs seront informés de toute retenue de paiement et des actions nécessaires pour remédier à la situation.</p>

				<p>
					<strong>
						13.8 *Accès au Relevé de Paiement* :</strong>
					Les chauffeurs peuvent accéder à leurs relevés de paiement via l'application Ride Easy. Les relevés détaillent tous les trajets effectués, les montants gagnés, et les paiements effectués. Pour toute question ou clarification, les chauffeurs peuvent contacter le support client.</p>

				<p>
					<strong>
						13.9 *Politique de Remboursement et Annulations* :</strong>
					En cas d'annulation de course par un client, les chauffeurs peuvent être éligibles à des frais d'annulation selon les termes et conditions de Ride Easy. Les détails sur la politique d'annulation et de remboursement sont disponibles dans l'application et sur le site web de Ride Easy.</p>

				<p>
					<strong>
						13.10 *Acceptation des Conditions de Paiement* :</strong>
					En utilisant l'application Ride Easy, les chauffeurs acceptent les conditions de paiement décrites dans ces mentions légales. Les utilisateurs sont invités à lire attentivement ces conditions avant d'accepter des trajets via l'application.</p>

				<p>Tous droits réservés –
					{{'now'|date('d/m/Y')}}.</p>

			</div>
		</div>
	</section>
	<!-- Blog Detail Section End -->
{% endblock %}
