{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}
<!-- Blog Detail Section Start -->
    <section class="blog_detail_section">
      <div class="container">
        <div class="blog_head">
          <div class="tags_info">
            <span class="tag">{{appName}}</span>
          </div>
          <h1>Conditions générales d'utilisation</h1>
        </div>
        <div class="blog_body">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the
            industrys standard dummy text ever since the when an unknown printer took a galley of type and scrambled it
            to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
            PageMaker.</p>
          <ul class="listings">
            <li>
              <span class="icon"><i class="icofont-check-circled"></i></span>
              <p>Lorem Ipsum is simply dummy text</p>
            </li>
            <li>
              <span class="icon"><i class="icofont-check-circled"></i></span>
              <p>The printing and typesetting industry</p>
            </li>
            <li>
              <span class="icon"><i class="icofont-check-circled"></i></span>
              <p>Has been the industrys dummy</p>
            </li>
            <li>
              <span class="icon"><i class="icofont-check-circled"></i></span>
              <p>Text ever since the when an unknown</p>
            </li>
          </ul>
          <h2>Article sub title goes here</h2>
          <p>Typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown
            printer took a galley of type and scrambled. Survived not only five centuries, but also the leap into
            electronic typesetting, remaining essen tially unchanged. It was popularised in the 1960s with the release
            of Letraset sheets containing Lorem Ipsum passages, and more recently with software like Aldus PageMaker.
          </p>
          <p>
            Lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley
            of type and scrambled. Survived not only five centuries, but also the leap into electronic typesetting,
            remaining essen tially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with software like Aldus PageMaker sheets containing.
          </p>
        </div>
      </div>
    </section>
    <!-- Blog Detail Section End -->
{% endblock %}
