<div class="d-flex text-right mt-5">
	<a href="https://play.google.com/store/apps/details?id=com.hlc.rideeasy" class="btn btn-dark d-flex align-items-center custom-btn m-right ml-auto" style="width: max-content;">
		<img src="{{asset('img/play.png') }}" alt="image">
		<div class="ps-3 block">
			<small class="p-0 m-0">Télécharger sur</small>
			<p class="p-0 m-0">Google play</p>
		</div>
	</a>
	<a href="https://apps.apple.com/ma/app/rideeasy/id6499560290?l=fr-FR" class="btn btn-dark d-flex align-items-center custom-btn mr-auto" style="width: max-content;">
		<img src="{{asset('img/store.png') }}" alt="image">
		<div class="ps-3 block">
			<small class="p-0 m-0">Télécharger sur</small>
			<p class="p-0 m-0">App Store</p>
		</div>
	</a>
</div>
