<!-- FAQ Tab Section Start -->
    <section class="row_am faq_section d-none">
      <div class="container">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500">
          <span class="title_badge">Questions & Réponses</span>
          <h2><span>FAQ</span> – Foire aux questions</h2>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist" data-aos="fade-up" data-aos-duration="1500">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="genral-tab" data-toggle="tab" data-target="#genral" type="button"
              role="tab" aria-controls="genral" aria-selected="true">Genral</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pricing-tab" data-toggle="tab" data-target="#pricing" type="button" role="tab"
              aria-controls="pricing" aria-selected="false">Pricing</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="account-tab" data-toggle="tab" data-target="#account" type="button" role="tab"
              aria-controls="account" aria-selected="false">Account</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="returns-tab" data-toggle="tab" data-target="#returns" type="button" role="tab"
              aria-controls="returns" aria-selected="false">Returns Policy</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="support-tab" data-toggle="tab" data-target="#support" type="button" role="tab"
              aria-controls="support" aria-selected="false">Technical Support</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent" data-aos="fade-up" data-aos-duration="1500">
          <div class="tab-pane fade show active" id="genral" role="tabpanel" aria-labelledby="genral-tab">
            <div class="accordion" id="accordionExample">
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                          data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          How app will useful for my business ?
                          <span class="icons">
                            <i class="icofont-plus"></i>
                            <i class="icofont-minus"></i>
                          </span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsu m has been
                        the industrys standard dummy text ever since the when an unknown printer.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          What support i will get in premium package?
                          <span class="icons">
                            <i class="icofont-plus"></i>
                            <i class="icofont-minus"></i>
                          </span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        Some placeholder content for the second accordion panel. This panel is
                        hidden by
                        default.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Can i get update for free ?
                          <span class="icons">
                            <i class="icofont-plus"></i>
                            <i class="icofont-minus"></i>
                          </span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        And lastly, the placeholder content for the third and final accordion panel.
                        This
                        panel is hidden by default.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingfour">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                          data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                          How to setup account ?
                          <span class="icons">
                            <i class="icofont-plus"></i>
                            <i class="icofont-minus"></i>
                          </span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        Some placeholder content for the second accordion panel. This panel is
                        hidden by
                        default.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header" id="headingfive">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                          data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                          Is there any hidden cost?
                          <span class="icons">
                            <i class="icofont-plus"></i>
                            <i class="icofont-minus"></i>
                          </span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        Some placeholder content for the second accordion panel. This panel is
                        hidden by
                        default.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingsix">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                          data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                          What is process to get refund ?
                          <span class="icons">
                            <i class="icofont-plus"></i>
                            <i class="icofont-minus"></i>
                          </span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                      <div class="card-body">
                        And lastly, the placeholder content for the third and final accordion panel.
                        This
                        panel is hidden by default.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingseven">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                          How to setup account ?
                          <span class="icons">
                            <i class="icofont-plus"></i>
                            <i class="icofont-minus"></i>
                          </span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseseven" class="collapse" aria-labelledby="headingseven"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        And lastly, the placeholder content for the third and final accordion panel.
                        This
                        panel is hidden by default.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingeight">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                          What is process to get refund ?
                          <span class="icons">
                            <i class="icofont-plus"></i>
                            <i class="icofont-minus"></i>
                          </span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseeight" class="collapse" aria-labelledby="headingeight"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        And lastly, the placeholder content for the third and final accordion panel.
                        This
                        panel is hidden by default.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingnine">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                          data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                          Is there any discount on packages ?
                          <span class="icons">
                            <i class="icofont-plus"></i>
                            <i class="icofont-minus"></i>
                          </span>
                        </button>
                      </h2>
                    </div>
                    <div id="collapsenine" class="collapse" aria-labelledby="headingnine"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        And lastly, the placeholder content for the third and final accordion panel.
                        This
                        panel is hidden by default.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pricing" role="tabpanel" aria-labelledby="pricing-tab">
            <h2>FAQ Content Gose Here...</h2>
          </div>
          <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
            <h2>FAQ Content Gose Here...</h2>
          </div>
          <div class="tab-pane fade" id="returns" role="tabpanel" aria-labelledby="returns-tab">
            <h2>FAQ Content Gose Here...</h2>
          </div>
          <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
            <h2>FAQ Content Gose Here...</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ Tab Section End -->

<section class="row_am faq_section">
	<div class="container">
		<div class="section_title" data-aos="fade-up" data-aos-duration="1500">
			<span class="title_badge">Questions & Réponses</span>
			<h2>
				<span>FAQ</span>
				– Foire aux questions</h2>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Qu’est-ce que Ride Easy ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							<p>Ride Easy est une application innovante de covoiturage en France, offrant une solution de transport confortable, sûre et pratique. Elle connecte des chauffeurs professionnels et des passagers cherchant à se déplacer de manière efficace. Pour les chauffeurs, Ride Easy propose une flexibilité exceptionnelle, permettant de maximiser les revenus tout en choisissant librement leurs horaires de travail. Notre mission est de simplifier les déplacements, de résoudre les problèmes de transport fiable et d'aider les chauffeurs indépendants à organiser leur activité pour toucher une clientèle étendue.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Comment utiliser l’application ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							<h6>**Créer un compte :**</h6>
							<p>Téléchargez l'application depuis l'App Store ou Google Play et créez un compte. Les passagers n'ont besoin que d'une adresse électronique et d'un numéro de téléphone. Les chauffeurs doivent fournir plusieurs documents pour vérifier leur identité et celle de leur véhicule.</p>

							<h6>**Saisir votre destination :**</h6>
							<p>Indiquez votre point de prise en charge et votre destination. Appuyez ensuite sur "commander ma course".</p>

							<h6>**Retrouver votre chauffeur :**</h6>
							<p>Suivez l'arrivée de votre chauffeur en temps réel sur la carte.</p>

							<h6>**Vérifier les détails de la course :**</h6>
							<p>Comparez l'immatriculation, la marque et le modèle du véhicule ainsi que la photo du chauffeur avec les informations dans l'application. Les courses doivent être commandées uniquement via l'application.</p>

							<h6>**Détendez-vous :**</h6>
							<p>À votre arrivée, réglez la course facilement avec une carte de crédit ou PayPal.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Combien coûte une course ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">
							<p>Le prix d'une course est calculé en fonction du temps estimé, de la distance, ainsi que des péages, taxes et frais applicables.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingfour">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
								Ai-je le droit d’annuler une course ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
						<div class="card-body">
							<p>Oui, vous pouvez annuler une course sans frais avant que le chauffeur ne commence le service. Si l'annulation est due à une mauvaise action de votre part pendant le service, des frais seront facturés.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingfive">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
								Puis-je effectuer une réservation ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
						<div class="card-body">
							<p>Oui, vous pouvez réserver une course jusqu'à une semaine ou plus à l'avance, mais il n'est pas possible de réserver plusieurs courses simultanément.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingsix">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
								Quel est le nombre maximum de passagers ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
						<div class="card-body">
							<p>Le nombre maximum de passagers dépend de la catégorie du véhicule. Selon l'article R317-8 du Code de la route, les véhicules particuliers sont conçus pour transporter un maximum de huit passagers en plus du conducteur. Assurez-vous de vérifier les spécifications du véhicule lors de la réservation.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingseven">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
								Quelles sont les mesures et obligations à respecter ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
						<div class="card-body">
							<h6>**Pour les chauffeurs :**</h6>
							<ul>
								<li>Accomplir entièrement le service une fois la demande acceptée.</li>
								<li>Assurer la sécurité du client tout au long du trajet.</li>
								<li>Déclarer toute modification apportée au véhicule.</li>
							</ul>
							<h6>**Pour les passagers :**</h6>
							<ul>
								<li>Respecter les conditions et exigences des chauffeurs.</li>
								<li>Régler la totalité des frais liés au service rendu.</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingeight">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
								Que faire en cas d’incident avec le chauffeur ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
						<div class="card-body">
							<p>Signalez tout incident ou comportement inapproprié via l'application Ride Easy. Cela inclut des propos insultants ou des gestes agressifs. Vous pouvez également signaler des incidents moins graves, tels qu'un manque de courtoisie.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingnine">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
								Le véhicule de mon chauffeur ne correspond pas à celui indiqué ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordionExample">
						<div class="card-body">
							<p>Si le véhicule du chauffeur ne correspond pas aux informations de l'application, signalez la différence (marque, modèle, plaque d'immatriculation) et refusez de monter dans le véhicule si nécessaire.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header" id="headingten">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
								Comment s’inscrire en tant que chauffeur ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapseten" class="collapse" aria-labelledby="headingten" data-parent="#accordionExample">
						<div class="card-body">
							<ol>
								<li>Connectez-vous à votre compte sur l'application.</li>
								<li>Cliquez sur "devenir chauffeur" et téléchargez les documents nécessaires.</li>
								<li>Vérifiez l'exactitude de vos documents avant de les soumettre. Ride Easy examine généralement les documents sous 1 à 5 jours. Une fois validés, vous pouvez commencer à conduire.</li>
							</ol>
							<p>Pour toute assistance, contactez l’assistance .</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading11">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
								Je n’arrive pas à me connecter à mon compte professionnel
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
						<div class="card-body">
							<p>Des problèmes de connexion peuvent indiquer une non-conformité des documents ou une suppression de compte. Pour plus d'informations, contactez l'assistance.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading12">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
								J’ai été facturé alors que mon service n’a pas été réalisé
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
						<div class="card-body">
							<p>Si vous avez été facturé sans service rendu, signalez l'incident à Ride Easy pour annuler le paiement.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading13">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
								Comment télécharger mes factures ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordionExample">
						<div class="card-body">
							<p>Les factures et reçus de paiement sont disponibles à la fin de chaque course. Vous pouvez également retrouver vos factures et reçus dans la rubrique "historique des commandes" de l'application.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading14">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
								Quels sont les avantages d’un abonnement ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordionExample">
						<div class="card-body">
							<p>Tous les chauffeurs doivent souscrire à un abonnement pour bénéficier des opportunités offertes par l'application. Pour plus de détails, consultez les conditions générales.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading15">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
								Mon abonnement est-il remboursable ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordionExample">
						<div class="card-body">
							<p>Les abonnements ne sont pas remboursables. Si vous souhaitez résilier votre abonnement, faites-le avant la prochaine date de facturation via l'application.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading16">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
								Ride Easy stocke-t-il mes données bancaires ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordionExample">
						<div class="card-body">
							<p>Non, Ride Easy ne stocke pas vos données bancaires. Si vous avez besoin de vos reçus ou factures, nous pouvons vous les envoyer par email ou courrier ou via l'application .</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading17">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
								J’ai des réclamations concernant certaines données dans l’application ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordionExample">
						<div class="card-body">
							<p>Si vous avez des réclamations ou des remarques concernant le fonctionnement de l'application, contactez l’assistance téléphonique. Ride Easy ne peut être tenu responsable des dysfonctionnements indépendants de sa volonté.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading18">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
								Comment fermer mon compte ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordionExample">
						<div class="card-body">
							<h6>Pour les passagers</h6>
							<p>Rendez-vous dans l’espace "mon compte" sur l'application ou envoyez un email à Ride Easy pour supprimer votre compte.</p>

							<h6>Pour les chauffeurs :</h6>
							<p>Rendez-vous dans les paramètres de l'application et cliquez sur "supprimer mon compte". Si les conditions ne sont pas respectées, vous ne pourrez pas supprimer votre compte.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading19">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
								Comment modifier ma position ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordionExample">
						<div class="card-body">
							<p>Vous ne pouvez pas changer votre position une fois la course commandée. Assurez-vous de bien entrer les informations avant d’être facturé. Si vous avez donné une mauvaise adresse, vous pouvez demander un remboursement et annuler la course.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading20">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
								Est-il possible de faire un arrêt pendant le trajet ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordionExample">
						<div class="card-body">
							<p>Non, les arrêts ne sont pas autorisés avant la fin du service.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading20">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
								Comment retirer mes fonds ?
								<span class="icons">
									<i class="icofont-plus"></i>
									<i class="icofont-minus"></i>
								</span>
							</button>
						</h2>
					</div>
					<div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordionExample">
						<div class="card-body">
							<p>Vos gains sont stockés dans la rubrique "portefeuille". Pour les retirer, faites une demande via l'application et choisissez la destination des fonds. Le virement sera effectué sous 3 à 5 jours sans frais supplémentaires.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
