<section class="row_am service_section">
	<div class="container">
		<div class="section_title" data-aos="fade-up" data-aos-duration="1500">
			<span class="title_badge mb-1">Services</span>
			<h2>Meuilleurs
				<span>Services</span>
				que offrent<br>
				notre application</h2>
		</div>
		<div class="row service_blocks  d-flex align-items-center">
			<div class="col-md-6">
				<div class="service_text" data-aos="fade-up" data-aos-duration="1500">
					<div class="service_badge">
						<i class="icofont-tasks-alt"></i>
						<span>Recherche de Trajet</span>
					</div>
					<h2>
						<span>Recherche</span>
						de Trajet</h2>
					<p>Où souhaitez-vous aller aujourd'hui ? Entrez votre destination et nous vous trouverons le meilleur RideEasy pour vous y emmener. Choisissez parmi une sélection de chauffeurs professionnels, tous prêts à rendre votre trajet agréable et sûr."</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="img text-right" data-aos="fade-up" data-aos-duration="1500">
					<img src="{{asset('img/0.png') }}" alt="image">
				</div>
			</div>
		</div>
		<div class="row service_blocks flex-row-reverse d-flex align-items-center">
			<div class="col-md-6">
				<div class="service_text right_side" data-aos="fade-up" data-aos-duration="1500">
					<div class="service_badge">
						<i class="icofont-ui-clock"></i>
						<span>Sélection du Chauffeur</span>
					</div>
					<h2>
						<span>Sélection</span>
						du Chauffeur</h2>
					<p>
						Rencontrez nos chauffeurs : chacun avec son style unique et son véhicule. Consultez leurs profils, évaluations et types de véhicules pour choisir celui qui correspond le mieux à votre trajet et à vos préférences.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="img" data-aos="fade-up" data-aos-duration="1500">
					<img src="{{asset('img/1.png') }}" alt="image">
				</div>
			</div>
		</div>
		<div class="row service_blocks d-flex align-items-center">
			<div class="col-md-6">
				<div class="service_text" data-aos="fade-up" data-aos-duration="1500">
					<div class="service_badge">
						<i class="icofont-list"></i>
						<span>Confirmation & Paiement</span>
					</div>
					<h2>
						<span>Confirmation</span>
						et Paiement</h2>
					<p>
						Vous êtes à quelques clics de confirmer votre voyage. Vérifiez les détails de votre trajet, choisissez votre méthode de paiement sécurisée et préparez-vous à être pris en charge par votre chauffeur RideEasy.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="img text-right" data-aos="fade-up" data-aos-duration="1500">
					<img src="{{asset('img/2.png') }}" alt="image">
				</div>
			</div>
		</div>
	</div>
</section>
